<div>
  <h2>Crea Nuovo Campionato</h2>
  <form (ngSubmit)="createChampionship()">
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="championship.name" name="name" required>

    <label for="startDate">Data Inizio:</label>
    <input type="date" id="startDate" [(ngModel)]="championship.startDate" name="startDate" required>

    <label for="endDate">Data Fine:</label>
    <input type="date" id="endDate" [(ngModel)]="championship.endDate" name="endDate" required>

    <button type="submit">Crea Campionato</button>
  </form>
</div>
