/* navbar.component.scss */
.navbar {
  background-color: #007bff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    display: flex;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
  }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      color: #ffd700;
      text-shadow: 0 0 8px rgba(255, 215, 0, 0.7);
    }
  }

  .logout-btn {
    color: #dc3545 !important; /* Colore rosso per il pulsante di logout */
  }

  .ml-auto {
    margin-left: auto; /* Sposta Login, Register e Logout a destra */
  }
}
