<div class="container mt-5">
  <h1 class="text-center">Welcome to FutbolFan</h1>
  <p class="text-center">Manage your favorite football teams and players!</p>

  <div class="row text-center mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Select a Team</h5>
          <p class="card-text">Choose from a list of available teams to manage.</p>
          <a routerLink="/team-selection" class="btn btn-primary">Go to Team Selection</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Players</h5>
          <p class="card-text">View and manage all players in the system.</p>
          <a routerLink="/players" class="btn btn-primary">Go to Players</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Teams</h5>
          <p class="card-text">View and manage your teams.</p>
          <a routerLink="/teams" class="btn btn-primary">Go to Teams</a>
        </div>
      </div>
    </div>
  </div>
</div>
