<div class="container mt-5">
  <h1 class="text-center">Benvenuto su FutbolFan</h1>
  <p class="text-center">Gestisci le tue squadre e i tuoi giocatori preferiti!</p>

  <div class="row text-center mt-4">
    <div class="col-md-4">
      <div class="card team-card">
        <div class="card-body">
          <h5 class="card-title">Seleziona una Squadra</h5>
          <p class="card-text">Scegli tra una lista di squadre disponibili da gestire.</p>
          <a routerLink="/team-selection" class="btn btn-primary">Vai alla Selezione Squadra</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card player-card">
        <div class="card-body">
          <h5 class="card-title">Visualizza Giocatori</h5>
          <p class="card-text">Visualizza e gestisci tutti i giocatori del sistema.</p>
          <a routerLink="/players" class="btn btn-primary">Vai ai Giocatori</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card manage-card">
        <div class="card-body">
          <h5 class="card-title">Gestisci Squadre</h5>
          <p class="card-text">Visualizza e gestisci le tue squadre.</p>
          <a routerLink="/teams" class="btn btn-primary">Vai alle Squadre</a>
        </div>
      </div>
    </div>
  </div>
</div>
