.team-list-title {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-align: center;
  position: relative; /* Necessario per il pseudo-elemento */
}

.team-list-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #28a745;
  margin: 10px auto;
  border-radius: 2px;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-shadow {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.btn {
  transition: background-color 0.3s;
}

.btn:hover {
  color: white;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.2rem;
}

.list-group-item {
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: rgba(0, 123, 255, 0.1);
}
