.footer {
  background-color: #f8f9fa; /* Colore di sfondo chiaro */
  color: #6c757d; /* Colore del testo desaturato */
  padding: 15px 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra leggera sopra il footer */
  font-family: 'Montserrat', sans-serif;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  span {
    font-weight: 500;
    color: #6c757d;
    letter-spacing: 0.5px;

    &:hover {
      color: #007bff; /* Effetto hover con il colore blu per richiamare il tema calcistico */
      transition: color 0.3s ease;
    }
  }
}
